@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(250, 250, 250);
}

    *{
      @apply transition-colors
    }
    /* -------------------------------------------------------------- */
    /* SLICK REACT CAROUSEL */
    /* -------------------------------------------------------------- */
    .slick-next,
    .slick-prev {
      padding: 14px;
        width: 2vw;
        height: 2vw;
        cursor: pointer;
        border: none;
        border-radius: 5vw;
        background-color: rgb(234, 12, 164);
        z-index: 99 !important;
        box-shadow: rgb(35 35 35 / 50%) 0px 0px 20px 5px;
        top: 40%;
        color: white;
        
    }
    .sombra-xl {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    
    
     .slick-next {
        margin-right: 3.2%;
     }
     .slick-prev {
       margin-left: 3.2% ;
     }
     .slick-slide{
      /* Agrega el espacio deseado aquí */
      padding: 2rem;
    }