@tailwind base;
@tailwind components;
@tailwind utilities;


    *{
      @apply transition-colors
    }
    /* -------------------------------------------------------------- */
    /* SLICK REACT CAROUSEL */
    /* -------------------------------------------------------------- */
    .slick-next,
    .slick-prev {
      padding: 14px;
      margin: auto;
        height: 2vw;
        cursor: pointer;
        border: none;
        border-radius: 5vw;
        background-color: rgb(236, 236, 236);
        box-shadow: rgb(35 35 35 / 50%) 0px 0px 20px 5px;
        top: 45%;
        z-index: 99 !important;
        color: white;
        
    }
    .sombra-xl {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }
    
    
     .slick-next {
        margin-right: 8.2%;
     }
     .slick-prev {
       margin-left: 8.2% ;
     }
     .slick-slide{
      /* Agrega el espacio deseado aquí */
      padding: 2rem;
    }